.sidebar {
  position: fixed;
  width: 100vw;
  background-color: #d9bdbd;
  transition: height 0.5s ease;
  overflow: hidden;

  z-index: 100;
}
.sidebar.closed {
  height: 110px;
}
.sidebar.open {
  height: 500px;
}
.sidebar-meals,
.sidebar-desserts,
.sidebar-breakfast {
  display: inline-block;
  cursor: pointer;
  height: 100%;
  margin-left: 20px;
  padding: 10px;
}
.sidebar-meals {
  background-color: blueviolet;
  color: white;
  transition: background-color 0.3s ease;
}
.sidebar-meals:hover {
  background-color: rgb(79, 18, 136);
}
.sidebar-desserts {
  background-color: blueviolet;
  color: white;
  transition: background-color 0.3s ease;
}
.sidebar-desserts:hover {
  background-color: rgb(79, 18, 136);
}
.sidebar-breakfast {
  background-color: blueviolet;
  color: white;
  transition: background-color 0.3s ease;
}
.sidebar-breakfast:hover {
  background-color: rgb(79, 18, 136);
}
