.sidebar {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}
.sidebar-top {
  height: 80px;
  background-color: #d9bdbd;
}

.sidebar-home {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger;

  display: inline-block;
  cursor: pointer;
  height: 60px;
  margin: 0 5rem 0 2rem;
  padding: 10px;
}
.sidebar-home.closed {
  background: linear-gradient(rgb(0, 83, 0) 80px);

  color: white;
}
.sidebar-home.open {
  background-color: rgb(0, 177, 0);

  color: white;
}
.sidebar-home:hover {
  background: linear-gradient(to bottom, rgb(0, 110, 0) 0%, rgb(0, 212, 0) 50%);
}

.sidebar-food {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger;
  text-transform: capitalize;

  display: inline-block;
  cursor: pointer;
  height: 60px;
  padding: 10px;
  margin-left: 3rem;
}
.sidebar-food.closed {
  background: linear-gradient(blueviolet 80px);

  color: white;
}
.sidebar-food.open {
  height: 61px;
  background: linear-gradient(purple 80px);

  color: white;
}
.sidebar-food:hover {
  background: linear-gradient(to bottom, rgb(79, 1, 95) 0%, purple 50%);
}

.sidebar-bottom {
  background-color: purple;
  margin: 0;
}
.sidebar-bottom.close {
  height: 0;
}
.sidebar-bottom.open {
  height: max-content;
  padding: 15px;
}
