.sidebar {
  position: fixed;
  width: 100vw;
  overflow: hidden;
  z-index: 100;
}
.sidebar-top {
  height: 80px;
  background-color: #d9bdbd;
}

.sidebar-meals,
.sidebar-desserts,
.sidebar-breakfasts {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: larger;

  display: inline-block;
  cursor: pointer;
  height: 60px;
  margin-left: 20px;
  padding: 10px;
}
.sidebar-meals.closed {
  background: linear-gradient(blueviolet 80px);

  color: white;
}
.sidebar-meals.open {
  height: 65px;
  background: linear-gradient(purple 80px);

  color: white;
}
.sidebar-meals:hover {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, purple 50%);
}

.sidebar-desserts.closed {
  background: linear-gradient(blueviolet 80px);
  color: white;
}
.sidebar-desserts.open {
  height: 65px;
  background: linear-gradient(purple 80px);
  color: white;
}
.sidebar-desserts:hover {
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, purple 50%);
}

.sidebar-breakfasts.closed {
  background: linear-gradient(blueviolet 80px);
  color: white;
}
.sidebar-breakfasts.open {
  height: 65px;
  background: linear-gradient(purple 80px);
  color: white;
}
.sidebar-breakfasts:hover {
  background: linear-gradient(rgb(0, 0, 0) 0, purple 80px);
}

.sidebar-bottom {
  background-color: purple;
  margin: 0;
}
.sidebar-bottom.close {
  height: 0;
}
.sidebar-bottom.open {
  height: max-content;
  padding: 15px;
}
