.add-recipe-container {
  display: grid;
  justify-content: center;

  margin-top: 50px;
}
.add-recipe-title {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
.recipe-name-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.recipe-type-select {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.recipe-time-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.recipe-input-instructions {
  display: flex;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.ingredients-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.ingredients-title {
  font-weight: bolder;
}
.ingredient-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.recipe-ingredient-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-ingredient-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
.remove-ingredient-button {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.recipe-file-input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.preview-image {
}
.preview-video {
  border-radius: 10px;
  width: 80%;
}
.submit-recipe-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
