/* Layout */
.recipe-card-page {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 3rem;
  padding: 4rem 2rem;
  margin: 0 auto 0rem;
  background-color: rgb(231, 231, 231);
}

/* Video Section */
.recipe-card-page-video {
  width: 100%;
  border-radius: 0.625rem;
  border: 2px solid gray;
  box-shadow: 0 0 0.625rem 0.625rem rgba(155, 154, 154, 0.75);
  transition: box-shadow 0.3s ease;
}

.recipe-card-page-video:hover {
  box-shadow: 0 0 0.625rem 0.625rem rgb(77, 76, 76);
}

/* Text Content Section */
.recipe-card-page-text {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
}

/* Typography */
.recipe-card-page-name {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}

.recipe-card-page-type {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 1.5rem;
}

.recipe-card-page-ingredients,
.recipe-card-page-instructions {
  text-align: left;
  padding: 0 1rem;
}

.ingredient-category {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem;
  color: #313131;
}
.ingredients-list::marker {
  content: "➡ ";
  color: rgb(167, 2, 2);
}
